@font-face {
  font-family: 'Espionage';
  src: url('../fonts/Espionage.ttf') format('truetype');
}
@font-face {
  font-family: 'Metal Gear';
  src: url('../fonts/Metal\ Gear.TTF') format('truetype');
}
@font-face {
  font-family: 'Metal Gear Solid 2';
  src: url('../fonts/Metal\ Gear\ Solid\ 2.ttf') format('truetype');
}
@font-face {
  font-family: 'MGS2 Menu';
  src: url('../fonts/MGS2\ Menu.TTF') format('truetype');
}

body {
  text-align: center;
  background-image: url('../images/bodyBG.jpg');
  background-size: cover;
  background-attachment: fixed;
}

canvas {
  border: 3px rgb(173, 168, 168) solid;
  border-radius: 20px;
}
